<div class="d-none d-sm-block">
    <div class="row" id="publicidad-container">
        <div class="col-12 align-self-center">
            <div class="card card-block">
                <a class="" href="http://www.mulco.com" target="_blank">
                    <div class="publicidad-top"></div>
                </a>  
            </div>
        </div>
    </div>
</div>